Repository Like-Lion-Team-WAY/WAY, pull requests merged in 2024-08, with the labels that each got.

#31 [Feature] OAuth2 naver google #29 Open
  src/main/java/like/lion/way/board/api/request/BoardEditRequest.java
  src/main/java/like/lion/way/config/SecurityConfig.java
  src/main/java/like/lion/way/user/domain/User.java
  src/main/java/like/lion/way/user/oauth2/dto/OAuthAttributes.java
  src/main/java/like/lion/way/user/oauth2/handler/CustomOAuth2SuccessHandler.java
  src/main/java/like/lion/way/user/oauth2/service/CustomOAuth2UserService.java
  src/main/java/like/lion/way/user/repository/UserRepository.java
  src/main/java/like/lion/way/user/service/UserService.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
Labels: ✨ Feature, 📬 API

#33 [Feature] basic chatting implement
  build.gradle
  src/main/java/like/lion/way/chat/controller/ChatController.java
  src/main/java/like/lion/way/chat/controller/MessageController.java
  src/main/java/like/lion/way/chat/controller/WebSocketController.java
  src/main/java/like/lion/way/chat/domain/Chat.java
  src/main/java/like/lion/way/chat/domain/Message.java
  src/main/java/like/lion/way/chat/repository/MessageRepository.java
  src/main/java/like/lion/way/chat/service/MessageService.java
  src/main/java/like/lion/way/chat/service/impl/MessageServiceImpl.java
  src/main/java/like/lion/way/chat/service/kafka/Consumer.java
  src/main/java/like/lion/way/chat/service/kafka/Producer.java
  src/main/java/like/lion/way/chat/service/kafka/imple/ConsumerImpl.java
  src/main/java/like/lion/way/chat/service/kafka/imple/ProducerImpl.java
  src/main/java/like/lion/way/config/KafkaConfig.java
  src/main/java/like/lion/way/config/WebSocketConfig.java
  src/main/resources/static/css/chat/chat-room.css
  src/main/resources/static/css/chat/chat.css
  src/main/resources/static/js/chat/chat-room.js
  src/main/resources/static/js/chat/chat.js
  src/main/resources/templates/pages/chat/chat-room.html
  src/main/resources/templates/pages/chat/chats.html
Labels: ✨ Feature, ⚙ Setting, 🎨 Html&css

#32 [Feature] add notification feature
  src/main/java/like/lion/way/alarm/controller/AlarmController.java
  src/main/java/like/lion/way/alarm/controller/hello
  src/main/java/like/lion/way/alarm/domain/Alarm.java
  src/main/java/like/lion/way/alarm/domain/AlarmSetting.java
  src/main/java/like/lion/way/alarm/domain/AlarmType.java
  src/main/java/like/lion/way/alarm/domain/hello
  src/main/java/like/lion/way/alarm/event/AlarmEvent.java
  src/main/java/like/lion/way/alarm/event/AlarmEventListener.java
  src/main/java/like/lion/way/alarm/repository/AlarmRepository.java
  src/main/java/like/lion/way/alarm/repository/AlarmSettingRepository.java
  src/main/java/like/lion/way/alarm/repository/hello
  src/main/java/like/lion/way/alarm/service/AlarmService.java
  src/main/java/like/lion/way/alarm/service/hello
  src/main/java/like/lion/way/alarm/service/serviceImpl/AlarmServiceImpl.java
  src/main/java/like/lion/way/config/AsyncConfig.java
Labels: ✨ Feature

#38 [Feature] add post feature
  src/main/java/like/lion/way/feed/controller/CommentRestController.java
  src/main/java/like/lion/way/feed/controller/FileController.java
  src/main/java/like/lion/way/feed/controller/PostBoxController.java
  src/main/java/like/lion/way/feed/controller/PostCommentController.java
  src/main/java/like/lion/way/feed/controller/PostController.java
  src/main/java/like/lion/way/feed/controller/PostRestController.java
  src/main/java/like/lion/way/feed/controller/QuestionController.java
  src/main/java/like/lion/way/feed/controller/QuestionRestcontroller.java
  src/main/java/like/lion/way/feed/domain/Like.java
  src/main/java/like/lion/way/feed/domain/Post.java
  src/main/java/like/lion/way/feed/domain/PostBox.java
  src/main/java/like/lion/way/feed/domain/PostComment.java
  src/main/java/like/lion/way/feed/domain/Question.java
  src/main/java/like/lion/way/feed/domain/QuestionBox.java
  src/main/java/like/lion/way/feed/domain/dto/PostCommentDto.java
  src/main/java/like/lion/way/feed/domain/dto/PostDto.java
  src/main/java/like/lion/way/feed/repository/LikeRepository.java
  src/main/java/like/lion/way/feed/repository/PostBoxRepository.java
  src/main/java/like/lion/way/feed/repository/PostCommentRepository.java
  src/main/java/like/lion/way/feed/repository/PostRepository.java
  src/main/java/like/lion/way/feed/repository/QuestionBoxRepository.java
  src/main/java/like/lion/way/feed/repository/QuestionRepository.java
  src/main/java/like/lion/way/feed/repository/hello
  src/main/java/like/lion/way/feed/service/LikeService.java
  src/main/java/like/lion/way/feed/service/PostBoxService.java
  src/main/java/like/lion/way/feed/service/PostCommentService.java
  src/main/java/like/lion/way/feed/service/PostService.java
  src/main/java/like/lion/way/feed/service/QuestionBoxService.java
  src/main/java/like/lion/way/feed/service/QuestionService.java
  src/main/java/like/lion/way/feed/service/imp/LikeServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/PostBoxServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/PostCommentServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/PostServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/QuestionBoxServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/QuestionServiceImpl.java
  src/main/java/like/lion/way/user/domain/User.java
  src/main/java/like/lion/way/user/service/impl/UserServiceImpl.java
  src/main/resources/static/css/feed/detailFeed.css
  src/main/resources/static/css/feed/feed.css
  src/main/resources/static/css/feed/feedCreate.css
  src/main/resources/static/css/feed/questionPage.css
  src/main/resources/static/css/main.css
  src/main/resources/static/js/feed/archievePost.js
  src/main/resources/static/js/feed/commentEdit.js
  src/main/resources/static/js/feed/postEdit.js
  src/main/resources/static/js/feed/questionCommentEdit.js
  src/main/resources/templates/fragments/aside.html
  src/main/resources/templates/fragments/header.html
  src/main/resources/templates/pages/feed/detailFeed.html
  src/main/resources/templates/pages/feed/feedCreate.html
  src/main/resources/templates/pages/feed/questionPage.html
  src/main/resources/templates/pages/feed/userFeed.html
Labels: ✨ Feature, 🎨 Html&css

#42 Feature/29 oauth2 naver google
  src/main/java/like/lion/way/common/controller/CommonController.java
  src/main/java/like/lion/way/config/SecurityConfig.java
  src/main/java/like/lion/way/jwt/filter/JwtRequestFilter.java
  src/main/java/like/lion/way/jwt/util/JwtUtil.java
  src/main/java/like/lion/way/user/controller/UserController.java
  src/main/java/like/lion/way/user/controller/restcontroller/UserRestController.java
  src/main/java/like/lion/way/user/domain/Role.java
  src/main/java/like/lion/way/user/domain/User.java
  src/main/java/like/lion/way/user/dto/SettingLoginInfoDto.java
  src/main/java/like/lion/way/user/oauth2/dto/OAuthAttributes.java
  src/main/java/like/lion/way/user/oauth2/handler/CustomOAuth2SuccessHandler.java
  src/main/java/like/lion/way/user/repository/RoleRepository.java
  src/main/java/like/lion/way/user/service/RoleService.java
  src/main/java/like/lion/way/user/service/UserService.java
  src/main/java/like/lion/way/user/service/serviceImpl/RoleServiceImpl.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
  src/main/resources/static/css/loginInfo.css
  src/main/resources/templates/pages/user/like.html
  src/main/resources/templates/pages/user/loginInfo.html
Labels: ⚙ Setting

#41 [Html&css] Board Html&css implement
  src/main/java/like/lion/way/board/api/ApiResponse.java
  src/main/java/like/lion/way/board/api/BoardController.java
  src/main/java/like/lion/way/board/api/BoardRestController.java
  src/main/java/like/lion/way/board/api/request/BoardCreateRequest.java
  src/main/java/like/lion/way/board/api/request/BoardEditRequest.java
  src/main/java/like/lion/way/board/api/request/BoardPostCreateRequest.java
  src/main/java/like/lion/way/board/application/BoardService.java
  src/main/java/like/lion/way/board/application/BoardServiceImpl.java
  src/main/java/like/lion/way/board/application/request/BoardCreateServiceRequest.java
  src/main/java/like/lion/way/board/application/request/BoardEditServiceRequest.java
  src/main/java/like/lion/way/board/application/request/BoardPostCreateServiceRequest.java
  src/main/java/like/lion/way/board/application/response/BoardPostResponse.java
  src/main/java/like/lion/way/board/application/response/BoardTitleResponse.java
  src/main/java/like/lion/way/board/domain/AnonymousPermission.java
  src/main/java/like/lion/way/board/domain/Board.java
  src/main/java/like/lion/way/board/domain/BoardPost.java
  src/main/java/like/lion/way/board/repository/BoardPostRepository.java
  src/main/java/like/lion/way/board/repository/BoardRepository.java
  src/main/resources/static/css/boards/board.css
  src/main/resources/static/css/boards/boardCreate.css
  src/main/resources/static/css/boards/post.css
  src/main/resources/static/css/boards/postCreate.css
  src/main/resources/static/js/boards/board.js
  src/main/resources/static/js/boards/boardCreate.js
  src/main/resources/static/js/boards/post.js
  src/main/resources/static/js/boards/postCreate.js
  src/main/resources/templates/pages/boards/boardCreateForm.html
  src/main/resources/templates/pages/boards/boardForm.html
  src/main/resources/templates/pages/boards/boardSettingForm.html
  src/main/resources/templates/pages/boards/postCreateForm.html
  src/main/resources/templates/pages/boards/postForm.html
Labels: ✨ Feature, 🎨 Html&css

#46 [Feature] create alarm setting record
  src/main/java/like/lion/way/alarm/controller/AlarmController.java
  src/main/java/like/lion/way/alarm/controller/SseRestController.java
  src/main/java/like/lion/way/alarm/domain/AlarmSetting.java
  src/main/java/like/lion/way/alarm/domain/AlarmType.java
  src/main/java/like/lion/way/alarm/event/AlarmEventListener.java
  src/main/java/like/lion/way/alarm/service/AlarmSseEmitters.java
  src/main/java/like/lion/way/alarm/service/serviceImpl/AlarmServiceImpl.java
  src/main/java/like/lion/way/alarm/service/serviceImpl/AlarmSseEmittersImpl.java
  src/main/java/like/lion/way/user/domain/User.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
  src/main/resources/templates/pages/alarm/alarm.html
Labels: ✨ Feature

#47 [Feature] 45 add post, question feature
  src/main/java/like/lion/way/board/application/BoardServiceImpl.java
  src/main/java/like/lion/way/chat/controller/ChatController.java
  src/main/java/like/lion/way/common/controller/CommonController.java
  src/main/java/like/lion/way/feed/controller/FileController.java
  src/main/java/like/lion/way/feed/controller/PostBoxController.java
  src/main/java/like/lion/way/feed/controller/PostController.java
  src/main/java/like/lion/way/feed/controller/QuestionController.java
  src/main/java/like/lion/way/feed/controller/QuestionRestcontroller.java
  src/main/java/like/lion/way/feed/repository/PostRepository.java
  src/main/java/like/lion/way/feed/repository/QuestionRepository.java
  src/main/java/like/lion/way/feed/service/PostBoxService.java
  src/main/java/like/lion/way/feed/service/PostService.java
  src/main/java/like/lion/way/feed/service/QuestionService.java
  src/main/java/like/lion/way/feed/service/imp/PostBoxServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/PostServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/QuestionServiceImpl.java
  src/main/java/like/lion/way/user/controller/UserController.java
  src/main/java/like/lion/way/user/domain/User.java
  src/main/java/like/lion/way/user/oauth2/dto/OAuthAttributes.java
  src/main/java/like/lion/way/user/service/UserService.java
  src/main/java/like/lion/way/user/service/impl/UserServiceImpl.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
  src/main/resources/static/css/common/main.css
  src/main/resources/static/css/feed/detailFeed.css
  src/main/resources/static/css/feed/questionPage.css
  src/main/resources/static/js/feed/postEdit.js
  src/main/resources/static/js/feed/questionCommentEdit.js
  src/main/resources/templates/fragments/header.html
  src/main/resources/templates/pages/common/main.html
  src/main/resources/templates/pages/feed/detailFeed.html
  src/main/resources/templates/pages/feed/questionPage.html
  src/main/resources/templates/pages/feed/userFeed.html
Labels: ✨ Feature, 🎨 Html&css

#48 [Feature] implement board update and delete
  src/main/java/like/lion/way/board/api/BoardController.java
  src/main/java/like/lion/way/board/api/BoardRestController.java
  src/main/java/like/lion/way/board/application/BoardService.java
  src/main/java/like/lion/way/board/application/BoardServiceImpl.java
  src/main/java/like/lion/way/board/application/response/BoardPostResponse.java
  src/main/resources/static/css/boards/boardSetting.css
  src/main/resources/static/js/boards/boardCreate.js
  src/main/resources/static/js/boards/boardSetting.js
  src/main/resources/static/js/boards/post.js
  src/main/resources/templates/fragments/header.html
  src/main/resources/templates/pages/boards/boardSettingForm.html
Labels: ✨ Feature, 🎨 Html&css

#50 feat: elasticsearch , interest feature
  build.gradle
  src/main/java/like/lion/way/config/ElasticSearchConfig.java
  src/main/java/like/lion/way/els/controller/ElsInterestRestController.java
  src/main/java/like/lion/way/els/domain/ElsInterest.java
  src/main/java/like/lion/way/els/repository/ElsInterestRepository.java
  src/main/java/like/lion/way/els/service/ElsInterestService.java
  src/main/java/like/lion/way/els/service/serviceimpl/ElsInterestServiceImpl.java
  src/main/java/like/lion/way/user/controller/InterestController.java
  src/main/java/like/lion/way/user/controller/restcontroller/InterestRestController.java
  src/main/java/like/lion/way/user/controller/restcontroller/UserRestController.java
  src/main/java/like/lion/way/user/controller/security/hello
  src/main/java/like/lion/way/user/domain/Interest.java
  src/main/java/like/lion/way/user/domain/User.java
  src/main/java/like/lion/way/user/repository/InterestRepository.java
  src/main/java/like/lion/way/user/service/InterestService.java
  src/main/java/like/lion/way/user/service/UserService.java
  src/main/java/like/lion/way/user/service/serviceImpl/InterestServiceImpl.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
  src/main/resources/templates/pages/user/like.html
Labels: ✨ Feature

#52 feat: elasticsearch , interest feature
  src/main/java/like/lion/way/jwt/filter/JwtRequestFilter.java
  src/main/java/like/lion/way/jwt/token/JwtAuthenticationToken.java
  src/main/java/like/lion/way/user/controller/FollowController.java
  src/main/java/like/lion/way/user/controller/restcontroller/BlockRestController.java
  src/main/java/like/lion/way/user/controller/restcontroller/FollowRestController.java
  src/main/java/like/lion/way/user/controller/security/CustomUserDetails.java
  src/main/java/like/lion/way/user/dto/FollowDto.java
  src/main/java/like/lion/way/user/repository/BlockRepository.java
  src/main/java/like/lion/way/user/repository/FollowRepository.java
  src/main/java/like/lion/way/user/service/BlockService.java
  src/main/java/like/lion/way/user/service/FollowService.java
  src/main/java/like/lion/way/user/service/serviceImpl/BlockServiceImpl.java
  src/main/java/like/lion/way/user/service/serviceImpl/FollowServiceImpl.java
  src/main/resources/static/css/user/loginInfo.css
  src/main/resources/static/css/user/usersetting.css
  src/main/resources/static/image/image.jpg
  src/main/resources/templates/fragments/aside.html
  src/main/resources/templates/pages/user/followSetting.html
  src/main/resources/templates/pages/user/like.html
  src/main/resources/templates/pages/user/loginInfo.html
Labels: ✨ Feature

#54 [Feature] chatting func with question and user
  src/main/java/like/lion/way/chat/controller/ChatController.java
  src/main/java/like/lion/way/chat/controller/WebSocketController.java
  src/main/java/like/lion/way/chat/controller/rest/ChatRestController.java
  src/main/java/like/lion/way/chat/controller/rest/MessageRestController.java
  src/main/java/like/lion/way/chat/domain/Chat.java
  src/main/java/like/lion/way/chat/domain/Message.java
  src/main/java/like/lion/way/chat/domain/dto/ChatInfoDTO.java
  src/main/java/like/lion/way/chat/domain/dto/ChatRoomViewDTO.java
  src/main/java/like/lion/way/chat/domain/dto/ReceiveMessageDTO.java
  src/main/java/like/lion/way/chat/repository/ChatRepository.java
  src/main/java/like/lion/way/chat/repository/MessageRepository.java
  src/main/java/like/lion/way/chat/service/ChatService.java
  src/main/java/like/lion/way/chat/service/MessageService.java
  src/main/java/like/lion/way/chat/service/impl/ChatServiceImpl.java
  src/main/java/like/lion/way/chat/service/impl/MessageServiceImpl.java
  src/main/java/like/lion/way/chat/service/kafka/imple/ConsumerImpl.java
  src/main/java/like/lion/way/chat/service/kafka/imple/ProducerImpl.java
  src/main/resources/static/css/chat/chat-room.css
  src/main/resources/static/js/chat/chat-room.js
  src/main/resources/static/js/chat/chat.js
  src/main/resources/templates/fragments/header.html
  src/main/resources/templates/pages/chat/chat-room.html
  src/main/resources/templates/pages/chat/chats.html
Labels: ✨ Feature, 🎨 Html&css

#55 [Feature] Board Post Detail implement
  src/main/java/like/lion/way/board/api/ApiResponse.java
  src/main/java/like/lion/way/board/api/BoardController.java
  src/main/java/like/lion/way/board/api/BoardRestController.java
  src/main/java/like/lion/way/board/application/BoardService.java
  src/main/java/like/lion/way/board/application/BoardServiceImpl.java
  src/main/java/like/lion/way/board/application/response/BoardPostDetailResponse.java
  src/main/java/like/lion/way/board/application/response/BoardPostLikeCountResponse.java
  src/main/java/like/lion/way/board/application/response/BoardPostResponse.java
  src/main/java/like/lion/way/board/application/response/BoardPostScrapCountResponse.java
  src/main/java/like/lion/way/board/application/response/BoardTitleResponse.java
  src/main/java/like/lion/way/board/domain/BoardPostLike.java
  src/main/java/like/lion/way/board/domain/BoardPostScrap.java
  src/main/java/like/lion/way/board/repository/BoardPostLikeRepository.java
  src/main/java/like/lion/way/board/repository/BoardPostRepository.java
  src/main/java/like/lion/way/board/repository/BoardPostScrapRepository.java
  src/main/java/like/lion/way/feed/controller/PostController.java
  src/main/resources/static/css/boards/postDetail.css
  src/main/resources/static/js/boards/board.js
  src/main/resources/static/js/boards/post.js
  src/main/resources/static/js/boards/postDetail.js
  src/main/resources/templates/pages/boards/postDetailForm.html
Labels: ✨ Feature, 🎨 Html&css

#56 [Feature] sse for alarm
  src/main/java/like/lion/way/alarm/controller/SseRestController.java
  src/main/java/like/lion/way/alarm/domain/AlarmType.java
  src/main/java/like/lion/way/alarm/event/AlarmEvent.java
  src/main/java/like/lion/way/alarm/event/AlarmEventListener.java
  src/main/java/like/lion/way/alarm/repository/AlarmRepository.java
  src/main/java/like/lion/way/alarm/service/AlarmService.java
  src/main/java/like/lion/way/alarm/service/AlarmSseEmitters.java
  src/main/java/like/lion/way/alarm/service/serviceImpl/AlarmServiceImpl.java
  src/main/java/like/lion/way/alarm/service/serviceImpl/AlarmSseEmittersImpl.java
  src/main/resources/static/css/header.css
  src/main/resources/static/js/header.js
  src/main/resources/templates/fragments/header.html
  src/main/resources/templates/layouts/layout.html
  src/main/resources/templates/pages/alarm/alarm.html
Labels: ✨ Feature

#57 [Feature] add post & question feature
  src/main/java/like/lion/way/common/controller/CommonController.java
  src/main/java/like/lion/way/feed/controller/FileController.java
  src/main/java/like/lion/way/feed/controller/LikeController.java
  src/main/java/like/lion/way/feed/controller/PostBoxController.java
  src/main/java/like/lion/way/feed/controller/PostCommentController.java
  src/main/java/like/lion/way/feed/controller/PostController.java
  src/main/java/like/lion/way/feed/controller/QuestionBoxController.java
  src/main/java/like/lion/way/feed/controller/QuestionController.java
  src/main/java/like/lion/way/feed/controller/QuestionFilterController.java
  src/main/java/like/lion/way/feed/domain/Like.java
  src/main/java/like/lion/way/feed/domain/Question.java
  src/main/java/like/lion/way/feed/domain/QuestionBox.java
  src/main/java/like/lion/way/feed/repository/LikeRepository.java
  src/main/java/like/lion/way/feed/repository/PostBoxRepository.java
  src/main/java/like/lion/way/feed/repository/QuestionRepository.java
  src/main/java/like/lion/way/feed/service/LikeService.java
  src/main/java/like/lion/way/feed/service/PostBoxService.java
  src/main/java/like/lion/way/feed/service/PostCommentService.java
  src/main/java/like/lion/way/feed/service/PostService.java
  src/main/java/like/lion/way/feed/service/QuestionService.java
  src/main/java/like/lion/way/feed/service/imp/LikeServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/PostBoxServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/PostCommentServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/QuestionServiceImpl.java
  src/main/resources/static/css/feed/detailFeed.css
  src/main/resources/static/css/feed/feed.css
  src/main/resources/static/css/feed/questionPage.css
  src/main/resources/static/css/main.css
  src/main/resources/static/js/feed/questionReject.js
  src/main/resources/templates/fragments/aside.html
  src/main/resources/templates/pages/common/main.html
  src/main/resources/templates/pages/feed/detailFeed.html
  src/main/resources/templates/pages/feed/filterQuestionPage.html
  src/main/resources/templates/pages/feed/questionPage.html
  src/main/resources/templates/pages/feed/userFeed.html
Labels: ✨ Feature, 🎨 Html&css

#62 [Feature] blockUser Interceptor
  src/main/java/like/lion/way/user/controller/UserController.java
  src/main/java/like/lion/way/user/controller/restcontroller/UserRestController.java
  src/main/java/like/lion/way/user/controller/security/hello
  src/main/java/like/lion/way/user/domain/Interest.java
  src/main/java/like/lion/way/user/domain/User.java
  src/main/java/like/lion/way/user/dto/UserProfileDto.java
  src/main/java/like/lion/way/user/oauth2/dto/OAuthAttributes.java
  src/main/java/like/lion/way/user/oauth2/service/CustomOAuth2UserService.java
  src/main/java/like/lion/way/user/service/UserService.java
  src/main/java/like/lion/way/user/service/serviceImpl/FollowServiceImpl.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
  src/main/resources/static/css/user/profilesetting.css
  src/main/resources/static/js/user/interest.js
  src/main/resources/static/js/user/profileSetting.js
  src/main/resources/templates/fragments/aside.html
  src/main/resources/templates/layouts/layout.html
  src/main/resources/templates/pages/user/like.html
  src/main/resources/templates/pages/user/profileSetting.html
Labels: ✨ Feature, 🎨 Html&css

#64 [Feature] fix alarm exception
  src/main/java/like/lion/way/alarm/controller/AlarmController.java
  src/main/java/like/lion/way/alarm/controller/AlarmRestController.java
  src/main/java/like/lion/way/alarm/controller/SseRestController.java
  src/main/java/like/lion/way/alarm/event/AlarmEventListener.java
  src/main/java/like/lion/way/alarm/service/AlarmSseEmitters.java
  src/main/java/like/lion/way/alarm/service/serviceImpl/AlarmSseEmittersImpl.java
  src/main/resources/static/js/header.js
  src/main/resources/templates/fragments/header.html
  src/main/resources/templates/pages/alarm/alarm.html
Labels: 🐞 BugFix

#65 [Feature] implement Board Post Comment
  src/main/java/like/lion/way/board/api/BoardRestController.java
  src/main/java/like/lion/way/board/api/request/BoardPostCommentRequest.java
  src/main/java/like/lion/way/board/application/BoardService.java
  src/main/java/like/lion/way/board/application/BoardServiceImpl.java
  src/main/java/like/lion/way/board/application/request/BoardPostCommentServiceRequest.java
  src/main/java/like/lion/way/board/application/response/BoardPostCommentCountResponse.java
  src/main/java/like/lion/way/board/application/response/BoardPostCommentResponse.java
  src/main/java/like/lion/way/board/application/response/BoardPostDetailResponse.java
  src/main/java/like/lion/way/board/domain/BoardPostComment.java
  src/main/java/like/lion/way/board/repository/BoardPostCommentRepository.java
  src/main/java/like/lion/way/board/repository/BoardPostScrapRepository.java
  src/main/resources/static/js/boards/postDetail.js
  src/main/resources/templates/pages/boards/postDetailForm.html
Labels: ✨ Feature, 🎨 Html&css

#66 feat: header , aside view change
  src/main/java/like/lion/way/jwt/exception/CustomAuthenticationEntryPoint.java
  src/main/resources/static/css/boards/board.css
  src/main/resources/static/js/common.js
  src/main/resources/templates/fragments/aside.html
  src/main/resources/templates/fragments/header.html
  src/main/resources/templates/layouts/layout.html
  src/main/resources/templates/pages/boards/boardForm.html
Labels: ✨ Feature

#69 [Feature] implement question and post feature
  src/main/java/like/lion/way/common/controller/CommonController.java
  src/main/java/like/lion/way/feed/controller/ArchieveController.java
  src/main/java/like/lion/way/feed/controller/CommentRestController.java
  src/main/java/like/lion/way/feed/controller/GetUserIp.java
  src/main/java/like/lion/way/feed/controller/LikeController.java
  src/main/java/like/lion/way/feed/controller/Post2Controller.java
  src/main/java/like/lion/way/feed/controller/PostBoxController.java
  src/main/java/like/lion/way/feed/controller/PostCommentController.java
  src/main/java/like/lion/way/feed/controller/PostController.java
  src/main/java/like/lion/way/feed/controller/PostRestController.java
  src/main/java/like/lion/way/feed/controller/Question2Controller.java
  src/main/java/like/lion/way/feed/controller/QuestionBoxController.java
  src/main/java/like/lion/way/feed/controller/QuestionController.java
  src/main/java/like/lion/way/feed/controller/QuestionFilterController.java
  src/main/java/like/lion/way/feed/controller/QuestionRestcontroller.java
  src/main/java/like/lion/way/feed/domain/Question.java
  src/main/java/like/lion/way/feed/domain/QuestionBox.java
  src/main/java/like/lion/way/feed/repository/PostBoxRepository.java
  src/main/java/like/lion/way/feed/repository/PostRepository.java
  src/main/java/like/lion/way/feed/repository/QuestionBoxRepository.java
  src/main/java/like/lion/way/feed/service/LikeService.java
  src/main/java/like/lion/way/feed/service/PostBoxService.java
  src/main/java/like/lion/way/feed/service/PostCommentService.java
  src/main/java/like/lion/way/feed/service/PostService.java
  src/main/java/like/lion/way/feed/service/QuestionBoxService.java
  src/main/java/like/lion/way/feed/service/QuestionService.java
  src/main/java/like/lion/way/feed/service/imp/PostBoxServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/PostCommentServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/PostServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/QuestionBoxServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/QuestionServiceImpl.java
  src/main/resources/static/css/common/main.css
  src/main/resources/static/css/feed/detailFeed.css
  src/main/resources/static/css/feed/feed.css
  src/main/resources/static/css/feed/questionPage.css
  src/main/resources/static/js/feed/commentEdit.js
  src/main/resources/static/js/feed/questionCommentEdit.js
  src/main/resources/static/js/feed/questionReject.js
  src/main/resources/templates/fragments/header.html
  src/main/resources/templates/pages/common/main.html
  src/main/resources/templates/pages/feed/archievePage.html
  src/main/resources/templates/pages/feed/detailFeed.html
  src/main/resources/templates/pages/feed/filterQuestionPage.html
  src/main/resources/templates/pages/feed/questionPage.html
  src/main/resources/templates/pages/feed/rejectedQuestionPage.html
  src/main/resources/templates/pages/feed/userFeed.html
  src/main/resources/templates/pages/user/profileSetting.html
Labels: ✨ Feature, 🎨 Html&css

#73 Feature/71 no login aside view
  src/main/java/like/lion/way/jwt/util/JwtUtil.java
  src/main/java/like/lion/way/user/controller/FollowController.java
  src/main/java/like/lion/way/user/service/FollowService.java
  src/main/java/like/lion/way/user/service/serviceImpl/FollowServiceImpl.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
  src/main/resources/static/js/common.js
  src/main/resources/templates/fragments/aside.html
  src/main/resources/templates/fragments/header.html
Labels: 🔨 Refactor

#75 [Feature] chatting func with question and user 2
  src/main/java/like/lion/way/chat/controller/ChatController.java
  src/main/java/like/lion/way/chat/controller/rest/ChatRestController.java
  src/main/java/like/lion/way/chat/controller/rest/MessageRestController.java
  src/main/java/like/lion/way/chat/domain/Chat.java
  src/main/java/like/lion/way/chat/domain/Message.java
  src/main/java/like/lion/way/chat/domain/dto/ChatInfoDTO.java
  src/main/java/like/lion/way/chat/domain/dto/ChatRoomViewDTO.java
  src/main/java/like/lion/way/chat/domain/dto/ReceiveMessageDTO.java
  src/main/java/like/lion/way/chat/repository/ChatRepository.java
  src/main/java/like/lion/way/chat/repository/MessageRepository.java
  src/main/java/like/lion/way/chat/service/ChatService.java
  src/main/java/like/lion/way/chat/service/MessageService.java
  src/main/java/like/lion/way/chat/service/impl/ChatServiceImpl.java
  src/main/java/like/lion/way/chat/service/impl/MessageServiceImpl.java
  src/main/java/like/lion/way/chat/service/kafka/imple/ConsumerImpl.java
  src/main/java/like/lion/way/chat/service/kafka/imple/ProducerImpl.java
  src/main/resources/static/css/chat/chat-room.css
  src/main/resources/static/css/chat/chat.css
  src/main/resources/static/js/chat/chat-room.js
  src/main/resources/static/js/chat/chat.js
  src/main/resources/templates/pages/chat/chat-room.html
Labels: ✨ Feature, 🎨 Html&css

#76 [Feature] alarm service and controller
  src/main/java/like/lion/way/alarm/controller/AlarmController.java
  src/main/java/like/lion/way/alarm/controller/AlarmRestController.java
  src/main/java/like/lion/way/alarm/domain/Alarm.java
  src/main/java/like/lion/way/alarm/domain/AlarmSetting.java
  src/main/java/like/lion/way/alarm/domain/AlarmType.java
  src/main/java/like/lion/way/alarm/dto/AlarmMessageDto.java
  src/main/java/like/lion/way/alarm/dto/AlarmRequestDto.java
  src/main/java/like/lion/way/alarm/event/AlarmEventListener.java
  src/main/java/like/lion/way/alarm/repository/AlarmRepository.java
  src/main/java/like/lion/way/alarm/repository/AlarmSettingRepository.java
  src/main/java/like/lion/way/alarm/service/AlarmService.java
  src/main/java/like/lion/way/alarm/service/AlarmSseEmitters.java
  src/main/java/like/lion/way/alarm/service/serviceImpl/AlarmServiceImpl.java
  src/main/java/like/lion/way/alarm/service/serviceImpl/AlarmSseEmittersImpl.java
  src/main/java/like/lion/way/feed/service/imp/PostCommentServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/QuestionServiceImpl.java
  src/main/resources/static/css/alarm/alarm.css
  src/main/resources/static/css/alarm/alarmSetting.css
  src/main/resources/static/js/alarm/alarm.js
  src/main/resources/static/js/alarm/alarmSetting.js
  src/main/resources/static/js/header.js
  src/main/resources/templates/fragments/aside.html
  src/main/resources/templates/pages/alarm/alarm.html
  src/main/resources/templates/pages/alarm/alarmSetting.html
Labels: ✨ Feature, 📬 API, 🎨 Html&css

#79 [Feature] implement question & feed feature
  src/main/java/like/lion/way/admin/controller/CustomerServiceController.java
  src/main/java/like/lion/way/admin/controller/hello
  src/main/java/like/lion/way/common/controller/CommonController.java
  src/main/java/like/lion/way/feed/controller/Post2Controller.java
  src/main/java/like/lion/way/feed/controller/PostController.java
  src/main/java/like/lion/way/feed/controller/QuestionController.java
  src/main/java/like/lion/way/feed/controller/QuestionFilterController.java
  src/main/java/like/lion/way/feed/service/QuestionService.java
  src/main/java/like/lion/way/feed/service/imp/QuestionServiceImpl.java
  src/main/resources/static/css/admin/customerService.css
  src/main/resources/static/css/admin/policyPersonalInfo.css
  src/main/resources/static/css/admin/termsOfUse.css
  src/main/resources/static/css/feed/feed.css
  src/main/resources/static/css/feed/questionPage.css
  src/main/resources/templates/fragments/aside.html
  src/main/resources/templates/pages/admin/customerService.html
  src/main/resources/templates/pages/admin/policyPersonalInfo.html
  src/main/resources/templates/pages/admin/termsOfUse.html
  src/main/resources/templates/pages/admin/youthProtectionPolicy.html
  src/main/resources/templates/pages/feed/detailFeed.html
  src/main/resources/templates/pages/feed/filterQuestionPage.html
  src/main/resources/templates/pages/feed/questionPage.html
  src/main/resources/templates/pages/feed/userFeed.html
Labels: ✨ Feature, 🎨 Html&css

#80 [Fix] Chat leave error
  src/main/java/like/lion/way/chat/service/kafka/imple/ConsumerImpl.java
Labels: 🐞 BugFix

#82 [Feature] implement scraped board posts
  src/main/java/like/lion/way/board/api/BoardController.java
  src/main/java/like/lion/way/board/api/BoardRestController.java
  src/main/java/like/lion/way/board/application/BoardService.java
  src/main/java/like/lion/way/board/application/BoardServiceImpl.java
  src/main/java/like/lion/way/board/application/response/BoardPostScrapsResponse.java
  src/main/java/like/lion/way/board/repository/BoardPostScrapRepository.java
  src/main/resources/static/css/boards/scrap.css
  src/main/resources/static/js/boards/scrap.js
  src/main/resources/templates/fragments/aside.html
  src/main/resources/templates/pages/boards/scrapForm.html
Labels: ✨ Feature, 🎨 Html&css

#84 [Feature] edit main, userFeed style
  src/main/java/like/lion/way/feed/controller/PostController.java
  src/main/resources/static/css/common/main.css
  src/main/resources/static/css/feed/feed.css
  src/main/resources/static/css/feed/questionPage.css
  src/main/resources/templates/pages/common/main.html
  src/main/resources/templates/pages/feed/userFeed.html
Labels: ✨ Feature, 🎨 Html&css

#88 [Feature] create Chat from Question page
  src/main/resources/static/js/chat/chat.js
  src/main/resources/static/js/feed/userFeed.js
  src/main/resources/templates/pages/chat/chats.html
  src/main/resources/templates/pages/feed/userFeed.html
Labels: ✨ Feature

#90 [Feature] question filter
  src/main/java/like/lion/way/feed/domain/Question.java
  src/main/java/like/lion/way/feed/service/imp/QuestionServiceImpl.java
  src/main/resources/static/js/feed/follow.js
  src/main/resources/templates/pages/common/main.html
  src/main/resources/templates/pages/feed/filterQuestionPage.html
  src/main/resources/templates/pages/feed/questionPage.html
  src/main/resources/templates/pages/feed/rejectedQuestionPage.html
  src/main/resources/templates/pages/feed/userFeed.html
Labels: ✨ Feature, 🎨 Html&css

#89 [feature] no-login aside view
  src/main/java/like/lion/way/user/controller/restcontroller/FollowRestController.java
  src/main/java/like/lion/way/user/repository/FollowRepository.java
  src/main/java/like/lion/way/user/service/FollowService.java
  src/main/java/like/lion/way/user/service/serviceImpl/FollowServiceImpl.java
Labels: ✨ Feature

#94 [Feature] basic report feature
  src/main/java/like/lion/way/admin/controller/ReportRestController.java
  src/main/java/like/lion/way/admin/domain/Report.java
  src/main/java/like/lion/way/admin/domain/ReportRequestDto.java
  src/main/java/like/lion/way/admin/domain/ReportType.java
  src/main/java/like/lion/way/admin/domain/hello
  src/main/java/like/lion/way/admin/repository/ReportRepository.java
  src/main/java/like/lion/way/admin/repository/hello
  src/main/java/like/lion/way/admin/service/Impl/ReportServiceImpl.java
  src/main/java/like/lion/way/admin/service/ReportService.java
  src/main/java/like/lion/way/admin/service/hello
  src/main/java/like/lion/way/feed/service/PostCommentService.java
  src/main/java/like/lion/way/feed/service/imp/PostCommentServiceImpl.java
  src/main/resources/static/js/feed/postEdit.js
Labels: ✨ Feature, 📬 API

#96 [Feature] implement userfeed followunfollow
  src/main/java/like/lion/way/feed/controller/CommentRestController.java
  src/main/java/like/lion/way/feed/controller/PostBoxController.java
  src/main/java/like/lion/way/feed/controller/PostCommentController.java
  src/main/java/like/lion/way/feed/controller/PostController.java
  src/main/java/like/lion/way/feed/controller/PostRestController.java
  src/main/java/like/lion/way/feed/controller/QuestionBoxController.java
  src/main/java/like/lion/way/feed/controller/QuestionRestcontroller.java
  src/main/resources/static/css/feed/detailFeed.css
  src/main/resources/static/css/feed/feed.css
  src/main/resources/static/js/feed/follow.js
  src/main/resources/static/js/feed/questionCommentEdit.js
  src/main/resources/templates/pages/common/main.html
  src/main/resources/templates/pages/feed/archievePage.html
  src/main/resources/templates/pages/feed/detailFeed.html
  src/main/resources/templates/pages/feed/questionPage.html
  src/main/resources/templates/pages/feed/rejectedQuestionPage.html
  src/main/resources/templates/pages/feed/userFeed.html
Labels: ✨ Feature, 🎨 Html&css

#97 [Html&css] board_post detail page design
  src/main/resources/static/css/boards/postDetail.css
  src/main/resources/static/js/boards/postDetail.js
Labels: 🎨 Html&css

#99 [Html&css] improve community css style
  src/main/resources/static/css/boards/board.css
  src/main/resources/static/css/boards/boardCreate.css
  src/main/resources/static/css/boards/boardSetting.css
  src/main/resources/static/css/boards/post.css
  src/main/resources/static/css/boards/postCreate.css
  src/main/resources/static/css/boards/scrap.css
  src/main/resources/static/js/boards/post.js
  src/main/resources/static/js/boards/scrap.js
  src/main/resources/templates/fragments/aside.html
  src/main/resources/templates/pages/boards/boardCreateForm.html
  src/main/resources/templates/pages/boards/boardForm.html
  src/main/resources/templates/pages/boards/boardSettingForm.html
  src/main/resources/templates/pages/boards/postCreateForm.html
  src/main/resources/templates/pages/boards/postDetailForm.html
  src/main/resources/templates/pages/boards/postForm.html
  src/main/resources/templates/pages/boards/scrapForm.html
Labels: 🎨 Html&css

#101 [Feature] logout
  src/main/java/like/lion/way/common/controller/CommonController.java
  src/main/java/like/lion/way/config/SecurityConfig.java
  src/main/java/like/lion/way/user/controller/UserController.java
  src/main/java/like/lion/way/user/service/UserService.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
  src/main/resources/static/js/common.js
  src/main/resources/templates/fragments/aside.html
  src/main/resources/templates/pages/common/main.html
  src/main/resources/templates/pages/user/followSetting.html
  src/main/resources/templates/pages/user/like.html
  src/main/resources/templates/pages/user/login.html
  src/main/resources/templates/pages/user/loginInfo.html
Labels: ✨ Feature, 🔨 Refactor, 🎨 Html&css

#102 [Feature] chatting part 1st check
  src/main/java/like/lion/way/chat/controller/rest/ChatRestController.java
  src/main/resources/static/css/chat/chat-room.css
  src/main/resources/static/css/chat/chat.css
  src/main/resources/static/js/chat/chat-room.js
  src/main/resources/static/js/feed/userFeed.js
  src/main/resources/templates/pages/chat/chat-room.html
  src/main/resources/templates/pages/chat/chats.html
Labels: ✨ Feature, 🎨 Html&css

#103 [Feature] report
  src/main/java/like/lion/way/admin/service/Impl/ReportServiceImpl.java
  src/main/resources/static/css/feed/questionPage.css
  src/main/resources/static/js/feed/commentEdit.js
  src/main/resources/static/js/feed/postEdit.js
  src/main/resources/static/js/feed/report_question.js
  src/main/resources/templates/pages/feed/detailFeed.html
  src/main/resources/templates/pages/feed/rejectedQuestionPage.html
Labels: 📬 API, 🎨 Html&css

#104 [Feature] implement postbox questionbox cancel
  src/main/java/like/lion/way/feed/controller/ArchieveController.java
  src/main/java/like/lion/way/feed/controller/Post2Controller.java
  src/main/java/like/lion/way/feed/controller/QuestionBoxController.java
  src/main/java/like/lion/way/feed/controller/QuestionFilterController.java
  src/main/java/like/lion/way/feed/domain/Post.java
  src/main/java/like/lion/way/feed/domain/PostComment.java
  src/main/resources/static/css/common/main.css
  src/main/resources/templates/pages/feed/archievePage.html
  src/main/resources/templates/pages/feed/questionPage.html
  src/main/resources/templates/pages/feed/sendQuestion.html
  src/main/resources/templates/pages/feed/userFeed.html
Labels: ✨ Feature, 🎨 Html&css

#108 setting: s3 bucket Setting
  build.gradle
  src/main/java/like/lion/way/config/S3Config.java
  src/main/java/like/lion/way/config/SecurityConfig.java
  src/main/java/like/lion/way/feed/controller/Post2Controller.java
  src/main/java/like/lion/way/file/controller/FileRestController.java
  src/main/java/like/lion/way/file/service/S3Service.java
  src/main/java/like/lion/way/file/service/impl/S3ServiceImpl.java
  src/main/java/like/lion/way/user/controller/restcontroller/UserRestController.java
  src/main/resources/static/css/main.css
  src/test/java/like/lion/way/S3test.http
Labels: 🌏 Deploy, ⚙ Setting

#109 Setting/107 aws setting
  build.gradle
  src/main/java/like/lion/way/feed/controller/FileController.java
  src/main/java/like/lion/way/file/controller/FileRestController.java
  src/main/java/like/lion/way/file/service/S3Service.java
  src/main/java/like/lion/way/file/service/impl/S3ServiceImpl.java
  src/main/java/like/lion/way/user/controller/restcontroller/UserRestController.java
  src/main/java/like/lion/way/user/service/UserService.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
Labels: 🔨 Refactor

#111 [Feature] post & question image upload, main filter and userFeed name change
  build.gradle
  src/main/java/like/lion/way/common/controller/CommonController.java
  src/main/java/like/lion/way/feed/controller/ArchieveController.java
  src/main/java/like/lion/way/feed/controller/Post2Controller.java
  src/main/java/like/lion/way/feed/controller/PostController.java
  src/main/java/like/lion/way/feed/controller/QuestionController.java
  src/main/java/like/lion/way/feed/service/PostService.java
  src/main/java/like/lion/way/feed/service/QuestionService.java
  src/main/java/like/lion/way/feed/service/imp/PostServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/QuestionServiceImpl.java
  src/main/resources/templates/pages/common/main.html
  src/main/resources/templates/pages/feed/userFeed.html
Labels: ✨ Feature, 🎨 Html&css

#114 [Feature] s3 image delete and edit question & post delete
  src/main/java/like/lion/way/common/controller/CommonController.java
  src/main/java/like/lion/way/feed/controller/Post2Controller.java
  src/main/java/like/lion/way/feed/controller/PostRestController.java
  src/main/java/like/lion/way/feed/controller/Question2Controller.java
  src/main/java/like/lion/way/feed/controller/QuestionController.java
  src/main/java/like/lion/way/feed/controller/QuestionFilterController.java
  src/main/java/like/lion/way/file/service/S3Service.java
  src/main/java/like/lion/way/file/service/impl/S3ServiceImpl.java
Labels: ✨ Feature

#116 [Feature] s3 bucket img delete
  src/main/java/like/lion/way/user/controller/restcontroller/UserRestController.java
  src/main/java/like/lion/way/user/service/serviceImpl/BlockServiceImpl.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
Labels: ✨ Feature

#119 [Feature] report chatting
  src/main/java/like/lion/way/admin/domain/Report.java
  src/main/java/like/lion/way/admin/domain/ReportRequestDto.java
  src/main/java/like/lion/way/admin/service/Impl/ReportServiceImpl.java
  src/main/java/like/lion/way/chat/service/MessageService.java
  src/main/java/like/lion/way/chat/service/impl/MessageServiceImpl.java
  src/main/resources/static/css/chat/chat-room.css
  src/main/resources/static/js/chat/chat-room.js
Labels: ✨ Feature, 🎨 Html&css

#124 Feature/123 implement user profile display
  src/main/java/like/lion/way/board/application/BoardServiceImpl.java
  src/main/java/like/lion/way/board/application/response/BoardPostDetailResponse.java
  src/main/java/like/lion/way/user/controller/restcontroller/UserRestController.java
  src/main/java/like/lion/way/user/repository/UserRepository.java
  src/main/java/like/lion/way/user/service/UserService.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
  src/main/resources/static/css/boards/postDetail.css
  src/main/resources/static/js/boards/postDetail.js
  src/main/resources/templates/pages/boards/postDetailForm.html
Labels: ✨ Feature

#125 [Feature] chat alarm event
  src/main/java/like/lion/way/admin/controller/adminController.java
  src/main/java/like/lion/way/alarm/controller/SseRestController.java
  src/main/java/like/lion/way/alarm/domain/ChatAlarm.java
  src/main/java/like/lion/way/alarm/event/ChatAlarmEvent.java
  src/main/java/like/lion/way/alarm/event/ChatAlarmEventListener.java
  src/main/java/like/lion/way/alarm/repository/ChatAlarmRepository.java
  src/main/java/like/lion/way/alarm/service/AlarmSseEmitters.java
  src/main/java/like/lion/way/alarm/service/ChatAlarmService.java
  src/main/java/like/lion/way/alarm/service/serviceImpl/AlarmSseEmittersImpl.java
  src/main/java/like/lion/way/alarm/service/serviceImpl/ChatAlarmServiceImpl.java
  src/main/java/like/lion/way/user/domain/User.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
  src/main/resources/static/css/admin/report.css
  src/main/resources/static/js/header.js
  src/main/resources/templates/fragments/header.html
  src/main/resources/templates/pages/admin/report.html
Labels: ✨ Feature, 📬 API

#126 [Refactor] refactoring chatting part
  src/main/java/like/lion/way/chat/constant/ApiMessage.java
  src/main/java/like/lion/way/chat/constant/ChatMessageType.java
  src/main/java/like/lion/way/chat/constant/OpenNicknameState.java
  src/main/java/like/lion/way/chat/controller/ChatController.java
  src/main/java/like/lion/way/chat/controller/MessageController.java
  src/main/java/like/lion/way/chat/controller/rest/ChatRestController.java
  src/main/java/like/lion/way/chat/controller/rest/MessageRestController.java
  src/main/java/like/lion/way/chat/domain/Chat.java
  src/main/java/like/lion/way/chat/domain/dto/ChatInfoDTO.java
  src/main/java/like/lion/way/chat/service/impl/ChatServiceImpl.java
  src/main/java/like/lion/way/chat/service/impl/MessageServiceImpl.java
  src/main/java/like/lion/way/chat/service/kafka/imple/ConsumerImpl.java
  src/main/java/like/lion/way/chat/service/kafka/imple/ProducerImpl.java
Labels: 🔨 Refactor

#127 Feature/117 block user filtering
  src/main/java/like/lion/way/common/controller/CommonController.java
  src/main/java/like/lion/way/feed/controller/FileController.java
  src/main/java/like/lion/way/feed/controller/PostController.java
  src/main/java/like/lion/way/feed/controller/QuestionController.java
  src/main/java/like/lion/way/feed/controller/QuestionFilterController.java
  src/main/java/like/lion/way/feed/service/PostService.java
  src/main/java/like/lion/way/feed/service/QuestionService.java
  src/main/java/like/lion/way/feed/service/imp/PostServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/QuestionServiceImpl.java
  src/main/java/like/lion/way/user/repository/BlockRepository.java
  src/main/java/like/lion/way/user/service/BlockService.java
  src/main/java/like/lion/way/user/service/serviceImpl/BlockServiceImpl.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
Labels: ✨ Feature

#129 [Feature] elasticsearch & kakao share
  src/main/java/like/lion/way/config/SecurityConfig.java
  src/main/java/like/lion/way/els/controller/ElsUserController.java
  src/main/java/like/lion/way/els/controller/ElsUserRestController.java
  src/main/java/like/lion/way/els/domain/ElsUser.java
  src/main/java/like/lion/way/els/repository/ElsUserRepository.java
  src/main/java/like/lion/way/els/service/ElsUserService.java
  src/main/java/like/lion/way/els/service/serviceimpl/ElsUserServiceImpl.java
  src/main/java/like/lion/way/feed/controller/PostController.java
  src/main/java/like/lion/way/feed/controller/ShareMypage.java
  src/main/java/like/lion/way/feed/service/LikeService.java
  src/main/java/like/lion/way/feed/service/PostBoxService.java
  src/main/java/like/lion/way/feed/service/PostCommentService.java
  src/main/java/like/lion/way/feed/service/PostService.java
  src/main/java/like/lion/way/feed/service/QuestionBoxService.java
  src/main/java/like/lion/way/feed/service/QuestionService.java
  src/main/java/like/lion/way/feed/service/imp/QuestionServiceImpl.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
  src/main/resources/static/css/common/main.css
  src/main/resources/static/css/feed/feed.css
  src/main/resources/static/css/main.css
  src/main/resources/static/css/user/userSearch.css
  src/main/resources/static/js/user/userSearch.js
  src/main/resources/templates/fragments/header.html
  src/main/resources/templates/pages/common/main.html
  src/main/resources/templates/pages/feed/shareMyPage.html
  src/main/resources/templates/pages/feed/userFeed.html
  src/main/resources/templates/pages/user/searchform.html
Labels: ✨ Feature, 🎨 Html&css

#133 fix: 팔로워 팔로잉 타 유저 목록 보여주기
  src/main/java/like/lion/way/config/SecurityConfig.java
  src/main/java/like/lion/way/user/controller/FollowController.java
  src/main/java/like/lion/way/user/controller/UserController.java
  src/main/java/like/lion/way/user/service/BlockService.java
  src/main/java/like/lion/way/user/service/serviceImpl/BlockServiceImpl.java
  src/main/java/like/lion/way/user/service/serviceImpl/FollowServiceImpl.java
  src/main/resources/templates/pages/feed/userFeed.html
  src/main/resources/templates/pages/user/followSetting.html
Labels: ✨ Feature

#134 [Feature] chatting alarm
  src/main/java/like/lion/way/chat/service/impl/MessageServiceImpl.java
  src/main/java/like/lion/way/chat/service/kafka/imple/ConsumerImpl.java
  src/main/resources/static/js/chat/chat-room.js
  src/main/resources/templates/pages/chat/chat-room.html
Labels: ✨ Feature, 🎨 Html&css

#136 [Feature] implement Best BoardPost
  src/main/java/like/lion/way/board/api/BoardController.java
  src/main/java/like/lion/way/board/api/BoardRestController.java
  src/main/java/like/lion/way/board/application/BoardService.java
  src/main/java/like/lion/way/board/application/BoardServiceImpl.java
  src/main/java/like/lion/way/board/application/response/BoardBestPostResponse.java
  src/main/java/like/lion/way/board/repository/BoardPostRepository.java
  src/main/resources/static/css/boards/bestPost.css
  src/main/resources/static/js/boards/bestPost.js
  src/main/resources/templates/fragments/aside.html
  src/main/resources/templates/pages/boards/bestPost.html
Labels: ✨ Feature

#138 [Feature] improvement of community part character limitation
  src/main/java/like/lion/way/board/application/BoardServiceImpl.java
  src/main/resources/static/js/boards/bestPost.js
  src/main/resources/static/js/boards/board.js
  src/main/resources/static/js/boards/post.js
Labels: ✨ Feature

#140 [BugFix] fix user feed movement logic
  src/main/java/like/lion/way/board/application/BoardServiceImpl.java
  src/main/java/like/lion/way/board/application/response/BoardPostCommentResponse.java
  src/main/java/like/lion/way/board/application/response/BoardPostDetailResponse.java
  src/main/java/like/lion/way/board/application/response/BoardPostResponse.java
  src/main/java/like/lion/way/board/application/response/BoardPostScrapsResponse.java
  src/main/java/like/lion/way/user/controller/restcontroller/UserRestController.java
  src/main/java/like/lion/way/user/repository/UserRepository.java
  src/main/java/like/lion/way/user/service/UserService.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
  src/main/resources/static/js/boards/post.js
  src/main/resources/static/js/boards/postDetail.js
  src/main/resources/static/js/boards/scrap.js
Labels: 🐞 BugFix

#141 [Html&css] main side and banner
  src/main/resources/static/css/admin/policyPersonalInfo.css
  src/main/resources/static/css/admin/report.css
  src/main/resources/static/css/admin/termsOfUse.css
  src/main/resources/static/css/alarm/alarm.css
  src/main/resources/static/css/boards/board.css
  src/main/resources/static/css/boards/boardSetting.css
  src/main/resources/static/css/boards/post.css
  src/main/resources/static/css/boards/postCreate.css
  src/main/resources/static/css/boards/postDetail.css
  src/main/resources/static/css/boards/scrap.css
  src/main/resources/static/css/common/main.css
  src/main/resources/static/css/main.css
  src/main/resources/static/css/user/userSearch.css
  src/main/resources/templates/layouts/layout.html
  src/main/resources/templates/pages/admin/policyPersonalInfo.html
  src/main/resources/templates/pages/admin/report.html
  src/main/resources/templates/pages/admin/termsOfUse.html
  src/main/resources/templates/pages/admin/youthProtectionPolicy.html
  src/main/resources/templates/pages/alarm/alarm.html
  src/main/resources/templates/pages/alarm/alarmSetting.html
  src/main/resources/templates/pages/boards/boardCreateForm.html
  src/main/resources/templates/pages/boards/boardSettingForm.html
  src/main/resources/templates/pages/boards/postCreateForm.html
  src/main/resources/templates/pages/boards/postDetailForm.html
  src/main/resources/templates/pages/boards/postEditForm.html
  src/main/resources/templates/pages/common/main.html
  src/main/resources/templates/pages/feed/filterQuestionPage.html
  src/main/resources/templates/pages/feed/rejectedQuestionPage.html
  src/main/resources/templates/pages/feed/sendQuestion.html
Labels: 🎨 Html&css

#144 [Feature] implement community serch
  src/main/java/like/lion/way/board/api/BoardRestController.java
  src/main/java/like/lion/way/board/api/request/BoardSearchRequest.java
  src/main/java/like/lion/way/board/application/BoardService.java
  src/main/java/like/lion/way/board/application/BoardServiceImpl.java
  src/main/java/like/lion/way/board/application/request/BoardSearchServiceRequest.java
  src/main/java/like/lion/way/board/repository/BoardPostRepository.java
  src/main/java/like/lion/way/board/repository/BoardRepository.java
  src/main/resources/static/js/boards/board.js
  src/main/resources/static/js/boards/post.js
  src/main/resources/templates/pages/boards/boardForm.html
  src/main/resources/templates/pages/boards/postForm.html
Labels: ✨ Feature

#147 [Refactor] chat api response
  src/main/java/like/lion/way/ApiResponse.java
  src/main/java/like/lion/way/chat/controller/rest/ChatRestController.java
  src/main/java/like/lion/way/chat/controller/rest/MessageRestController.java
  src/main/java/like/lion/way/chat/domain/dto/ChatCreateResultDTO.java
  src/main/java/like/lion/way/chat/domain/dto/ChatFuncResultDTO.java
  src/main/java/like/lion/way/chat/domain/dto/OldMessageDTO.java
  src/main/resources/static/js/chat/chat-room.js
  src/main/resources/static/js/chat/chat.js
  src/main/resources/static/js/feed/userFeed.js
Labels: 🔨 Refactor

#149 [Refactor] elasticsearch
  src/main/java/like/lion/way/common/controller/CommonController.java
  src/main/java/like/lion/way/config/SecurityConfig.java
  src/main/java/like/lion/way/els/controller/ElsUserRestController.java
  src/main/java/like/lion/way/els/domain/ElsUser.java
  src/main/java/like/lion/way/feed/controller/ArchieveController.java
  src/main/java/like/lion/way/feed/controller/CommentRestController.java
  src/main/java/like/lion/way/feed/controller/FileController.java
  src/main/java/like/lion/way/feed/controller/LikeController.java
  src/main/java/like/lion/way/feed/controller/Post2Controller.java
  src/main/java/like/lion/way/feed/controller/PostBoxController.java
  src/main/java/like/lion/way/feed/controller/PostCommentController.java
  src/main/java/like/lion/way/feed/controller/PostCommentRestController.java
  src/main/java/like/lion/way/feed/controller/PostController.java
  src/main/java/like/lion/way/feed/controller/PostRestController.java
  src/main/java/like/lion/way/feed/controller/Question2Controller.java
  src/main/java/like/lion/way/feed/controller/QuestionBoxController.java
  src/main/java/like/lion/way/feed/controller/QuestionController.java
  src/main/java/like/lion/way/feed/controller/QuestionFilterController.java
  src/main/java/like/lion/way/feed/controller/QuestionRestcontroller.java
  src/main/java/like/lion/way/feed/controller/ShareMypage.java
  src/main/java/like/lion/way/feed/domain/Question.java
  src/main/java/like/lion/way/feed/service/PostCommentService.java
  src/main/java/like/lion/way/feed/service/PostService.java
  src/main/java/like/lion/way/feed/service/QuestionService.java
  src/main/java/like/lion/way/feed/service/imp/LikeServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/PostServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/QuestionBoxServiceImpl.java
  src/main/java/like/lion/way/feed/service/imp/QuestionServiceImpl.java
  src/main/java/like/lion/way/feed/util/GetUserIp.java
  src/main/java/like/lion/way/feed/util/UserUtil.java
  src/main/java/like/lion/way/file/controller/FileRestController.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
  src/main/resources/static/css/common/main.css
  src/main/resources/static/css/feed/detailFeed.css
  src/main/resources/static/css/feed/feed.css
  src/main/resources/static/css/feed/feedCreate.css
  src/main/resources/static/css/feed/questionPage.css
  src/main/resources/static/js/feed/archievePost.js
  src/main/resources/static/js/feed/commentEdit.js
  src/main/resources/static/js/feed/questionCommentEdit.js
  src/main/resources/static/js/user/userSearch.js
  src/main/resources/templates/pages/common/main.html
  src/main/resources/templates/pages/feed/archievePage.html
  src/main/resources/templates/pages/feed/detailFeed.html
  src/main/resources/templates/pages/feed/filterQuestionPage.html
  src/main/resources/templates/pages/feed/questionPage.html
  src/main/resources/templates/pages/feed/rejectedQuestionPage.html
  src/main/resources/templates/pages/feed/sendQuestion.html
  src/main/resources/templates/pages/feed/shareMyPage.html
  src/main/resources/templates/pages/feed/userFeed.html
Labels: ✨ Feature, 🎨 Html&css

#150 [Refactor] Improved chat performance
  src/main/java/like/lion/way/WayApplication.java
  src/main/java/like/lion/way/chat/controller/rest/MessageRestController.java
  src/main/java/like/lion/way/chat/service/impl/MessageServiceImpl.java
  src/main/resources/static/js/chat/chat-room.js
Labels: 🔨 Refactor

#152 [Feature] board post img upload
  src/main/java/like/lion/way/board/api/BoardRestController.java
  src/main/java/like/lion/way/board/application/request/BoardPostCreateServiceRequest.java
  src/main/java/like/lion/way/file/controller/FileRestController.java
  src/main/java/like/lion/way/file/service/S3Service.java
  src/main/java/like/lion/way/file/service/impl/S3ServiceImpl.java
  src/main/resources/static/css/boards/postDetail.css
  src/main/resources/static/js/boards/postCreate.js
  src/main/resources/static/js/boards/postDetail.js
  src/main/resources/static/js/boards/postEdit.js
  src/main/resources/templates/pages/boards/postCreateForm.html
  src/main/resources/templates/pages/boards/postEditForm.html
Labels: ✨ Feature

#153 feat: follower following click-> feed page And userDelete mod
  src/main/java/like/lion/way/user/controller/restcontroller/UserRestController.java
  src/main/java/like/lion/way/user/service/serviceImpl/FollowServiceImpl.java
  src/main/resources/static/css/user/usersetting.css
  src/main/resources/templates/pages/user/followSetting.html
Labels: ✨ Feature

#156 [Feature] 커뮤니티 게시판에서 게시판 설명 추가 , 비로그인 이미지 보이게 허용
  src/main/java/like/lion/way/board/application/BoardServiceImpl.java
  src/main/java/like/lion/way/board/application/response/BoardTitleResponse.java
  src/main/java/like/lion/way/config/SecurityConfig.java
  src/main/java/like/lion/way/file/service/S3Service.java
  src/main/resources/static/css/boards/board.css
  src/main/resources/static/js/boards/board.js
Labels: ✨ Feature, 🎨 Html&css

#159 [Feature] feed 전체 정렬(오름차순), userFeed 공유 버튼 수정
  src/main/java/like/lion/way/admin/controller/CustomerServiceController.java
  src/main/java/like/lion/way/common/controller/CommonController.java
  src/main/java/like/lion/way/config/SecurityConfig.java
  src/main/java/like/lion/way/feed/controller/PostController.java
  src/main/java/like/lion/way/feed/controller/QuestionController.java
  src/main/java/like/lion/way/feed/controller/QuestionFilterController.java
  src/main/resources/static/image/kakaotalk_sharing_btn_small.png
  src/main/resources/templates/fragments/aside.html
  src/main/resources/templates/pages/admin/customerService.html
  src/main/resources/templates/pages/feed/userFeed.html
Labels: ✨ Feature, 🎨 Html&css

#161 feat: admin 권한 수정
  src/main/java/like/lion/way/config/SecurityConfig.java
  src/main/java/like/lion/way/user/domain/User.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
Labels: ✨ Feature

#162 [Feature] processing of chat-related data when user withdrawal
  src/main/java/like/lion/way/chat/constant/ChatMessageType.java
  src/main/java/like/lion/way/chat/controller/ChatController.java
  src/main/java/like/lion/way/chat/controller/rest/ChatRestController.java
  src/main/java/like/lion/way/chat/domain/Chat.java
  src/main/java/like/lion/way/chat/domain/dto/ChatInfoDTO.java
  src/main/java/like/lion/way/chat/domain/dto/ChatRoomViewDTO.java
  src/main/java/like/lion/way/chat/service/ChatService.java
  src/main/java/like/lion/way/chat/service/MessageService.java
  src/main/java/like/lion/way/chat/service/impl/ChatServiceImpl.java
  src/main/java/like/lion/way/chat/service/impl/MessageServiceImpl.java
  src/main/java/like/lion/way/chat/service/kafka/imple/ConsumerImpl.java
  src/main/java/like/lion/way/chat/service/kafka/imple/ProducerImpl.java
  src/main/java/like/lion/way/user/controller/restcontroller/UserRestController.java
  src/main/resources/static/css/chat/chat-room.css
  src/main/resources/static/js/chat/chat-room.js
  src/main/resources/templates/pages/chat/chat-room.html
Labels: ✨ Feature

#163 [Feature] implement Community Additional Functions
  src/main/java/like/lion/way/board/api/BoardRestController.java
  src/main/java/like/lion/way/board/application/BoardService.java
  src/main/java/like/lion/way/board/application/BoardServiceImpl.java
  src/main/resources/static/css/boards/board.css
  src/main/resources/static/js/boards/board.js
  src/main/resources/templates/pages/boards/boardForm.html
Labels: ✨ Feature

#166 [Feature] Report admin menu, user role api (administrator menu)
  src/main/java/like/lion/way/admin/controller/ReportRestController.java
  src/main/java/like/lion/way/admin/domain/Report.java
  src/main/java/like/lion/way/admin/dto/ReportRequestDto.java
  src/main/java/like/lion/way/admin/dto/ReportResponseDto.java
  src/main/java/like/lion/way/admin/repository/ReportRepository.java
  src/main/java/like/lion/way/admin/repository/ReportSpecification.java
  src/main/java/like/lion/way/admin/service/Impl/ReportServiceImpl.java
  src/main/java/like/lion/way/admin/service/ReportService.java
  src/main/java/like/lion/way/alarm/controller/AlarmRestController.java
  src/main/java/like/lion/way/alarm/repository/AlarmRepository.java
  src/main/java/like/lion/way/alarm/service/AlarmService.java
  src/main/java/like/lion/way/alarm/service/serviceImpl/AlarmServiceImpl.java
  src/main/java/like/lion/way/user/controller/restcontroller/RoleRestController.java
  src/main/java/like/lion/way/user/service/UserService.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
  src/main/resources/static/css/admin/report.css
  src/main/resources/static/js/admin/report.js
  src/main/resources/static/js/alarm/alarm.js
  src/main/resources/static/js/alarm/alarmCommon.js
  src/main/resources/static/js/header.js
  src/main/resources/templates/fragments/header.html
  src/main/resources/templates/pages/admin/report.html
  src/main/resources/templates/pages/alarm/alarm.html
Labels: ✨ Feature, 📬 API, 🎨 Html&css

#167 158 feature userrole and main logo click
  src/main/java/like/lion/way/user/oauth2/service/CustomOAuth2UserService.java
  src/main/resources/static/js/common.js
  src/main/resources/templates/fragments/aside.html
Labels: ✨ Feature

#169 [Feature] administrator menu
  src/main/java/like/lion/way/admin/controller/BlueCheckRestController.java
  src/main/java/like/lion/way/admin/controller/adminController.java
  src/main/java/like/lion/way/admin/service/BlueCheckService.java
  src/main/java/like/lion/way/admin/service/Impl/BlueCheckServiceImpl.java
  src/main/java/like/lion/way/feed/controller/PostController.java
  src/main/java/like/lion/way/user/service/UserService.java
  src/main/java/like/lion/way/user/service/serviceImpl/UserServiceImpl.java
  src/main/resources/static/js/admin/bluecheckList.js
  src/main/resources/static/js/common.js
  src/main/resources/templates/fragments/aside.html
  src/main/resources/templates/pages/admin/blueCheckList.html
  src/main/resources/templates/pages/feed/userFeed.html
Labels: ✨ Feature, 🎨 Html&css

#171 [Fix] community some error fix
  src/main/java/like/lion/way/board/api/request/BoardCreateRequest.java
  src/main/java/like/lion/way/board/api/request/BoardSearchRequest.java
  src/main/java/like/lion/way/board/application/BoardServiceImpl.java
  src/main/java/like/lion/way/board/application/request/BoardCreateServiceRequest.java
  src/main/java/like/lion/way/board/application/request/BoardSearchServiceRequest.java
  src/main/java/like/lion/way/board/domain/Board.java
  src/main/java/like/lion/way/board/repository/BoardPostRepository.java
  src/main/resources/static/js/boards/board.js
  src/main/resources/static/js/boards/boardCreate.js
  src/main/resources/static/js/boards/post.js
  src/main/resources/templates/fragments/aside.html
  src/main/resources/templates/pages/boards/boardCreateForm.html
  src/main/resources/templates/pages/boards/boardForm.html
Labels: 🐞 BugFix
